data/raw/
data/processed/
vector_stores/
models/
*.pkl
*.bin
*.h5
*.pt
*.faiss
*.index


venv/
env/
.venv/
.env
*.env


__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini


.ipynb_checkpoints/
*.ipynb_checkpoints/


logs/
*.log
output/
results/

notebooks/uuf.ipynb
notebooks/fina_rag.ipynb

src/uuf.py
src/fina_rag.py
app.py